/* Base.html */

.brand-logo {
    margin-left: 2%;
}

.search-box {
    width: 370px;
}

.fa-bars {
    color: black;
}

.top-nav {
    margin-right: 2%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Modal */

/* Media Queries */
