/* Base.html */

.brand-logo {
    margin-left: 2%;
}

.search-box {
    width: 300px;
}

.fa-bars {
    color: black;
}

.top-nav {
    margin-right: 2%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

body {
    background-color: rgb(255, 255, 246);
}

/* Profile Page */
.divider {
    height: 3px;
}

.profile_btn, .profile_title {
    font-weight: 600;
}

.your_recipes {
    margin-top: 10px;
}

/* Recipe Display */
.chip {
    color: rgb(255 67 67);;
    background-color: #ffffff;
    border-top: 10px;
    margin-left: 2px;
    margin-top: 5px;
}

.chip_collapsible {
    background-color: rgba(255, 255, 255, 0);
}

.collapsible-body {
    background-color: white;
}

.recipe_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.recipe_li {
    float: left;
  }


/* Login Modal */

/* Media Queries */
@media only screen and (max-width: 1036px) {
    .search-box {
        width: 270px;
    }
  }

@media only screen and (max-width: 994px) {
    .search-box {
        width: 100px;
    }
  }