{% extends "base.html" %}
{% block content %}


<main>
    <div class="row">
        <div class="col s12 m10 xl8 offset-m1 offset-xl2">

            <h3 class="red-text center-align">Edit Recipe</h3>

            <div class="row card-panel grey lighten-5">
                <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">

                    <!--Cuisine Selection-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-flag prefix"></i>
                            <select id='cuisine_name' name="cuisine_name" class='validate' required>
                                <option value="" disabled>Choose Cuisine</option>
                                {% for cuisine in cuisines %}
                                    <option value="{{ cuisine.cuisine_name.capitalize() }}" selected>"{{ cuisine.cuisine_name.capitalize() }}"</option>
                                {% endfor %}
                            </select>
                            <label for='cuisine_name'> Recipe Cuisine</label>
                        </div>
                    </div>

                    <!--Recipe Name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="recipe_name" name='recipe_name' minlength="5" maxlength="50" value="" type="text"
                            class="validate" required>
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>

                    <!--Recipe Description-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="recipe_description" name='recipe_description' minlength="5" maxlength="200"
                                class="materialize-textarea validate" required></textarea>
                            <label for="recipe_description">Recipe Description</label>
                        </div>
                    </div>

                    <!--Serves-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-utensils prefix"></i>
                            <textarea id="serves" name='serves' minlength="1" maxlength="2"
                                class="materialize-textarea validate" required></textarea>
                            <label for="recipe_description">Serves</label>
                        </div>
                    </div>
                    <br>

                    <!-- Requirements -->
                    <div class="row">
                        <i class="fas fa-tools flow-text">&nbsp;&nbsp;Requirements:</i>
                        <div class="input-field">
                                <div class="input-field col s12">
                                    <input placeholder="" name="requirements" maxlength="200" minlength="3" id="requirements"
                                        value="" type="text" class="flow-text validate" required>
                                    <label for="requirements">Requirements</label>
                                  </div>
                        </div>
                    </div>
                    <br>
                    <br>

                     <!-- Ingredients -->
                     <div class="row">
                        <i class="fas fa-carrot flow-text">&nbsp;&nbsp;Ingredients:</i>
                        <div class="input-field">
                            <div class="input-field col s12">
                                <input placeholder="" maxlength="200" name="ingredients" minlength="3" id="ingredients"
                                    value="" type="text" class="flow-text validate" required>
                                <label for="ingredients">Ingredients</label>
                                </div>
                        </div>
                    </div>
                    <br>
                    <!-- Steps -->
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-align-left prefix"></i>
                          <textarea id="steps1" name='steps1' minlength="5" maxlength="200"
                              class="materialize-textarea validate" required></textarea>
                          <label for="steps1">Step1</label>
                        </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-align-left prefix"></i>
                          <textarea id="steps2" name='steps2' minlength="5" maxlength="200"
                              class="materialize-textarea validate" required>
                          </textarea>
                          <label for="steps2">Step2</label>
                        </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-align-left prefix"></i>
                          <textarea id="steps3" name='steps3' minlength="5" maxlength="200"
                              class="materialize-textarea validate" required>
                          </textarea>
                          <label for="steps3">Step3</label>
                        </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-align-left prefix"></i>
                          <textarea id="steps4" name='steps4' minlength="5" maxlength="200"
                              class="materialize-textarea validate" required>
                          </textarea>
                          <label for="steps4">Step4</label>
                        </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="fas fa-align-left prefix"></i>
                          <textarea id="steps5" name='steps5' minlength="5" maxlength="200"
                              class="materialize-textarea validate" required>
                          </textarea>
                          <label for="steps5">Step5</label>
                        </div>
                      </div>
                    <br>

                    <!-- Submit Button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <!--cancel button-->
                            <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Edit Task <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}