{% extends "base.html" %}
{% block content %}

<main>

    <div class="row">
        <div class="col s12 m10 xl8 offset-m1 offset-xl2">
            <div class="card-panel">
                <h3 class="center-align profile_title black-text text-shadow">
                    {{ user.first_name.capitalize() }}'s Profile
                </h3>
                <br>
                <h4>Details:</h4>
        <div class="row center-align">
                 <!-- Edit Details Form -->
            <div class="row
            ">
                <form class="col s12" method="POST" id="profile_form" action="{{ url_for('edit_profile', user_id=user._id) }}"
                    name="profile_form">
                    <!-- First Name -->
                    <div class="row form_name">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name" type="text" minlength="2"
                                maxlength='13' class="validate" value="{{ user.first_name.capitalize() }}" 
                                    pattern='^[a-zA-Z]{2,13}$' readonly="readonly" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <!-- Last Name -->
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name" type="text" minlength="2" maxlength='15'
                                class="validate" value="{{ user.last_name.capitalize() }}" pattern='^[a-zA-Z]{2,13}$' 
                                    readonly="readonly" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" minlength="5" maxlength='15'
                                class="validate" value="{{ user.username }}" pattern='^[a-zA-Z0-9]{5,15}$' 
                                    readonly="readonly" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- Email  -->
                    <div class="row form_email">
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate" 
                                value="{{ user.email }}"  readonly="readonly" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <!-- Edit/Submit/Password Change -->
                    <div class="row submit-btn">
                        <button class="btn-flat left waves-effect light-green" type="submit">
                            <h6 class="profile_btn">Save Changed</h6>
                        </button>
                        <a class="btn-flat left waves-effect profile_edit">
                            <h6 class="profile_btn">Edit Details</h6>
                        </a>
                        <a class="btn-flat waves-effect yellow right">
                            <h6 class="profile_btn">Change Password</h6>
                        </a>
                    </div>
                </form>

               
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col s12 m10 xl8 offset-m1 offset-xl2">
                <h3 class="center-align profile_title text-shadow red-text">
                    Your Recipes
                </h3>
                <div class="divider"></div>
                
           
        </div>
    </div>

</main>

{% endblock %}