{% extends "base.html" %}
{% block content %}

<main>
    <div class="row">
        <!--Profile Title -->
        <div class="col s12 m10 xl8 offset-m1 offset-xl2">
            <div class="card-panel">
                <h3 class="center-align profile_title black-text text-shadow">
                    {{ user.first_name.capitalize() }}'s Profile
                </h3>
                <br>
                <h4>Details:</h4>

                <!-- Edit Details Form -->
                <div class="row">
                    <form class="col s12 form" method="POST" action="{{ url_for('edit_profile', user_id=user._id) }}"
                        name="profile_form">
                        <!-- First Name -->
                        <div class="row form_name">
                            <div class="input-field col s6">
                                <input id="first_name" name="first_name" type="text" minlength="2"
                                    maxlength='13' class="validate" value="{{ user.first_name.capitalize() }}"
                                        pattern='^[a-zA-Z]{2,13}$' readonly="readonly" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <!-- Last Name -->
                            <div class="input-field col s6">
                                <input id="last_name" name="last_name" type="text" minlength="2" maxlength='15'
                                    class="validate" value="{{ user.last_name.capitalize() }}" pattern='^[a-zA-Z]{2,13}$'
                                        readonly="readonly" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <!-- Username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" type="text" minlength="5" maxlength='15'
                                    class="validate" value="{{ user.username }}" pattern='^[a-zA-Z0-9]{5,15}$'
                                        readonly="readonly" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <!-- Email  -->
                        <div class="row form_email">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate"
                                    value="{{ user.email }}"  readonly="readonly" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <!-- Edit/Submit/Password Change -->
                        <div class="row submit-btn">
                            <button class="btn-flat waves-effect light-green" type="submit">
                                <h6 class="profile_btn">Save Changes</h6>
                            </button>
                            <a class="btn-flat waves-effect profile_edit">
                                <h6 class="profile_btn">Edit Details</h6>
                            </a>
                            <a class="btn-flat waves-effect yellow right">
                                <h6 class="profile_btn">Change Password</h6>
                            </a>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</main>

<div class="row">
    <div class="col s12 m10 xl8 offset-m1 offset-xl2">
            <h3 class="center-align your_recipes profile_title text-shadow red-text">
                Your Recipes
            </h3>
            <div class="divider"></div>
    </div>
</div>

{% for recipe in recipes %}
    <section>
        {% if session.user|lower == recipe.created_by|lower %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header white-text red lighten-1 text-shadow">
                        <i class="fas fa-caret-down"></i>
                        <strong class="flow-text yellow-text">
                            {{ recipe.recipe_name}}:
                        </strong>
                        &nbsp;&nbsp;
                        <em class="flow-text">
                            by
                        </em>
                        &nbsp;&nbsp;
                        {% if session.user|lower == recipe.created_by|lower %}
                        <div class="chip flow-text">
                            <img src="./assets/images/blue.png" alt="user avatar">
                            <a href="{{ url_for('profile', user=session['user']) }}">{{ recipe.created_by }}</a>
                        </div>
                        {% else %}
                        <div class="chip flow-text">
                            <img src="./assets/images/blue.png" alt="user avatar">
                            {{ recipe.created_by }}
                        </div>
                        {% endif%}
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class='col s12 m10 offset-m1 xl10 offset-xl1'>
                                    <!-- Title -->
                                    <div class="row red-text center-align flow-text">
                                        <strong>{{ recipe.recipe_name.capitalize() }}</strong>
                                    </div>
                                    <br>
                                    <!-- Desciption -->
                                    <div class="row center-align flow-text">
                                        <p>{{ recipe.recipe_description }}</p>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Cuisine -->
                                    <div class="row">
                                        <i class="fas fa-flag flow-text">&nbsp;&nbsp;Cuisine:&nbsp;{{ recipe.cuisine_name.capitalize() }}</i>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Serves -->
                                    <div class="row">
                                        <i class="fas fa-utensils flow-text">&nbsp;&nbsp;Serves:&nbsp;{{ recipe.serves }}</i>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Requirements -->
                                    <div class="row">
                                        <i class="fas fa-tools flow-text">&nbsp;&nbsp;Requirements:</i>
                                        <ul class="recipe_list">
                                            <li class="recipe_li">
                                            <div class="chip chip_collapsible">
                                                <p class="flow-text">{{ recipe.requirements.capitalize() }}</p>
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Ingredients -->
                                    <div class="row">
                                        <i class="fas fa-carrot flow-text">&nbsp;&nbsp;Ingredients:</i>
                                        <ul class="recipe_list">
                                            <li class="recipe_li">
                                            <div class="chip chip_collapsible">
                                                <p class="flow-text">{{ recipe.ingredients.capitalize() }}</p>
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <br>
                                    <!-- Steps -->
                                    <div class="row">
                                        <i class="fas fa-list flow-text">&nbsp;&nbsp;Step1:</i>
                                        <ul class="flow-text">
                                            <li>
                                                <p>{{ recipe.steps1 }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-list flow-text">&nbsp;&nbsp;Step2:</i>
                                        <ul class="flow-text">
                                            <li>
                                                <p>{{ recipe.steps2 }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-list flow-text">&nbsp;&nbsp;Step3:</i>
                                        <ul class="flow-text">
                                            <li>
                                                <p>{{ recipe.steps3 }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-list flow-text">&nbsp;&nbsp;Step4:</i>
                                        <ul class="flow-text">
                                            <li>
                                                <p>{{ recipe.steps4 }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-list flow-text">&nbsp;&nbsp;Step5:</i>
                                        <ul class="flow-text">
                                            <li>
                                                <p>{{ recipe.steps5 }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Suggestions -->
                                    <div class="row">
                                        <i class="fas fa-tools flow-text">&nbsp;&nbsp;Recipe Road Products:</i>
                                        <ul class="recipe_list">
                                            <li class="recipe_li">
                                            <div class="chip chip_collapsible">
                                                <p class="flow-text">Recipe road off a huge range of kitchen products and utensils!
                                                    We've matched some of these with things you need for {{ recipe.recipe_name.capitalize() }}!</p>
                                                <a href="https://www.procook.co.uk/" target='_blank' class="flow-text">{{ recipe.requirements.capitalize() }}</a>
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <br>
                                    {% if session.user|lower == recipe.created_by|lower %}
                                    <!-- Link to users profile -->
                                    <div class="chip flow-text">
                                        <img src="./assets/images/blue.png" alt="user avatar">
                                        <a href="{{ url_for('profile', user=session['user']) }}">{{ recipe.created_by }}</a>
                                    </div>
                                    <!-- Edit/Delete Buttons -->
                                    <div class="right">
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                            class="waves-effect waves-light light-blue lighten-1 btn-large">Edit
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href=""class="waves-effect recipe_delete right waves-light red
                                            lighten-1 btn-large">Delete
                                        </a>
                                    </div>
                                    {% else %}
                                        <div class="chip flow-text">
                                            <img src="./assets/images/blue.png" alt="user avatar">
                                           {{ recipe.created_by }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </section>
{% endfor %}

{% endblock %}