{% extends "base.html" %}
{% block content %}




{% for recipe in recipes %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header white-text red lighten-1 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong class="flow-text yellow-text">{{ recipe.recipe_name}}:</strong>
                        &nbsp;&nbsp;<em class="flow-text">created by</em>&nbsp;&nbsp;
                            <strong class="flow-text">{{ recipe.created_by }}</strong>
                </div>
                <div class="collapsible-body">
                    <p>{{ recipe.recipe_description }}</p>
                    <br>
                    <p>{{ recipe.serves }}</p>
                    <br>
                    <p>{{ recipe.requirements }}</p>
                    <br>
                    <p>{{ recipe.indredients }}</p>
                    <ul>
                        {% for step in recipe.steps %}
                        <li>
                            <p>{{ step }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <p>{{ recipe.vote_up}}</p>
                    <br>
                    <p>{{ recipe.vote_down }}</p>
                    <br>
                    <p>{{ recipe.created_by }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endfor %}

{% endblock %}